.dem_add body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.dem_form_container {
    max-width: 600px; 
    margin: 20px auto; 
    padding: 20px; 
    background-color: #fff; 
    border-radius: 8px; 
}


.dem-form-main-heading {
    text-align: center; 
    color: #36200a;
}


.dem_add label {
    display: block; 
    margin-bottom: 5px; 
    font-weight: bold; 
}


.dem_add input, select {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 15px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    font-size: 16px; 
    box-sizing: border-box; 
    transition: border-color 0.3s; 
}

.dem_add input:focus, select:focus {
    border-color: #74512D; 
    outline: none; 
}

/* Button styles */
.dem_add button {
    background-color: #74512D; 
    color: white; 
    padding: 10px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    font-size: 16px; 
    width: 100%; 
    transition: background-color 0.3s; 
}

.dem_add button:hover {
    background-color: #5a3d23; 
}


.dem_add button:disabled {
    background-color: #ccc; 
    cursor: not-allowed; 
}


@media (max-width: 600px) {
    .dem_form_container {
        padding: 15px; 
    }

    .dem_add h2 {
        font-size: 24px; 
    }
}
